@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-black text-white mx-auto text-center;
    font-family: 'Ubuntu', sans-serif;
  }

  img {
    @apply max-w-full h-auto block;
  }

  .menu,
  .radio {
    justify-content: space-evenly;
  }

  .quantico {
    font-family: 'Quantico', sans-serif;
  }

  .wcust {
    width: calc(50% - 40px);
  }
}